<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ cidade }}</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <section class="principal">
        <h1>{{ cidade }}</h1>
        <div id="temperatura">
            <div id="temp_row">
                <img src="/static/{{ desc_icon }}" alt="Ícone temperatura"/>
                <p>{{ temperatura }}</p>
            </div>
            <p id="desc_text">{{ desc_text }}</p>
        </div>
        <div id="resto_dados">
            <p>Umidade: {{ umidade }}</p>
            <p>Visibilidade: {{ visibilidade }}</p>
        </div>
    </section>
</body>
</html>