<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clima e Tempo</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <section id="principal">
        <div style="display: flex; flex-direction: row; color: white;">
            < <h1 style="margin-top: -0.25em; margin-left: 0.1em; margin-right: 0.1em;">menezesalexandre</h1> >
        </div>
        <h1>Clima e Tempo<br>das cidades do Brasil</h1>
        <form method="POST">
            <input id="input_cidade" name="input_cidade" placeholder="Digite uma cidade">
        </form>
    </section>
</body>
</html>