<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clima e Tempo</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <section id="principal">
        <div style="display: flex; flex-direction: row; color: white;">
            < <h1 style="margin-top: 0.5em; margin-left: 0.1em; margin-right: 0.1em;">menezesalexandre</h1> >
        </div>
        <h1>Clima e Tempo<br>das cidades do Brasil</h1>
        <p>Insira o nome da cidade:<br>(Apenas cidades do Brasil)</p>
        <form method="POST">
            <input id="input_cidade" type="text" name="input_cidade" placeholder="Digite uma cidade">
        </form>
        <p>OU</p>
        <p>Insira as coordenadas: </p>
        <div class="coordinates_form">
            <form method="POST">
                <div class="coordinates_inputs">
                    <input class="input_coord" id="input_latitude" type="number" step="any" name="input_latitude" placeholder="Latitude">
                    <input class="input_coord" id="input_longitude" type="number" step="any" name="input_longitude" placeholder="Longitude">
                </div>
                <button class="input_coord" id="input_coord_submit" type="submit" name="input_coord_submit">Inserir</button>
            </form>
        </div>
    </section>
</body>
</html>